

/* Container */
.register-container {
  display: flex;
  min-height: 100vh;
  margin-top:120px;
}

/* Left side */
.register-left {
  flex: 1;
  background: #f5f9f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px 80px;
}
.register-left h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #2a2a0f;
}
.register-left p {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 50px;
  max-width: 500px;
}
.illustration {
  max-width: 500px;
  margin-top: 30px;
}

/* Right side */
.register-right {
  flex: 1;
  background: #fff;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px 0 15px rgba(0,0,0,0.08);
}

/* Logo */
.logo img {
  height: 60px;
  margin-bottom: 30px;
}

/* Toggle (Login/Register) */
.form-toggle {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  padding: 10px 30px;
  border-radius: 50px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}
.form-toggle button {
  background: none;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}
.form-toggle .active {
  background: #2a2a0f;
  color: #fff;
  padding: 10px 40px;
}

.form-toggle .active:hover {
  background: #B8D4AD;
  color: #2a2a0f;
  padding: 10px 40px;
}

/* Form fields */
form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

form label{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

form input {
  padding: 15px 25px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 25px;
  outline: none;
  font-size: 14px;
}
form input:focus {
  border-color: #2a2a0f;
}

form ::placeholder{
  font-size: 14px;
  color: #aeaea7;
}

.password-container{
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.password-container input{
  border: none;
  box-shadow: none;
}

.password-container img{
  height: 20px;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 20px;
}

.login-btn-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
}

.login-btn-flex a{
  text-decoration: none;
  font-weight: 800;
  color: #2a2a0f;
}

.register-right h5{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: -20px;
  line-height: 0rem;
  padding-bottom: 0;
}
/* Remember me */
.remember {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
  font-size: 0.3rem;
  color: #444;
}

.checkbox{
  height: 12px;
  box-shadow: none;
  margin-top: -6px;
}

/* Button */
.btn-submit {
  margin-top: 35px;
  max-width: 200px;
  margin-left: 130px;
  padding: 15px 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #2a2a0f;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-submit:hover {
  background: #B8D4AD;
  color: #2a2a0f;
}



/*============================================Media Queries=================================================*/
@media (max-width: 1030px){
  /* Button */
.btn-submit {
  margin-top: 45px;
  max-width: 140px;
  margin-left: 90px;
  padding: 12px 20px;
  margin-bottom: 50px;
}
}

@media (max-width: 770px){
  /* Left side */
.register-left {
  flex: 1;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.register-left h1 {
  font-size: 4rem;
}
.register-left p {
  font-size: 2.4rem;
  margin-bottom: 50px;
  max-width: 500px;
  text-align: center;
}
.illustration {
  max-width: 700px;
  margin-top: 20px;
}

/* Button */
.btn-submit {
  margin-top: 45px;
  max-width: 140px;
  margin-left: 120px;
  padding: 12px 20px;
  margin-bottom: 50px;
}
}
@media (max-width: 430px){
 /* Left side */
.register-left {
  flex: 1;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.register-left h1 {
  font-size: 2.6rem;
}
.register-left p {
  font-size: 1.4rem;
  margin-bottom: 50px;
  max-width: 300px;
  text-align: center;
}
.illustration {
  max-width: 700px;
  margin-top: 20px;
}

/* Right side */
.register-right {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.logo img {
  height: 40px;
  margin-bottom: 30px;
}

/* Toggle (Login/Register) */
.form-toggle {
  gap: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 50px;
}
.form-toggle button {
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 0.8rem;
}
.form-toggle .active {
  padding: 10px 30px;
}

.form-toggle .active:hover {
  padding: 10px 30px;
}

/* Form fields */
form {
  width: 80%;
  max-width: 370px;
  gap: 20px;
}

form label{
  gap: 5px;
  font-size: 12px;
}

form input {
  padding: 12px 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 25px;
  outline: none;
  font-size: 0.8rem;
}

form ::placeholder{
  font-size: 8px;
}

.password-container{
  margin-top: 20px;
}

.register-right h5{
  margin-top: 10px;
  margin-bottom: -40px;
  font-size: 12px;
}

/* Remember me */
.remember {
  gap: 8px;
}

.checkbox{
  height: 16px;
}

/* Button */
.btn-submit {
  margin-top: 25px;
  max-width: 140px;
  margin-left: 80px;
  padding: 12px 20px;
  margin-bottom: 50px;
}
}

@media (max-width: 380px){
  /* Left side */
.register-left {
  flex: 1;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.register-left h1 {
  font-size: 2.6rem;
}
.register-left p {
  font-size: 1.4rem;
  margin-bottom: 50px;
  max-width: 300px;
  text-align: center;
}
.illustration {
  max-width: 700px;
  margin-top: 20px;
}

/* Right side */
.register-right {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.logo img {
  height: 40px;
  margin-bottom: 30px;
}

/* Toggle (Login/Register) */
.form-toggle {
  gap: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 50px;
}
.form-toggle button {
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 0.8rem;
}
.form-toggle .active {
  padding: 10px 30px;
}

.form-toggle .active:hover {
  padding: 10px 30px;
}

/* Form fields */
form {
  width: 80%;
  max-width: 370px;
  gap: 20px;
}

form label{
  gap: 5px;
  font-size: 12px;
}

form input {
  padding: 12px 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 25px;
  outline: none;
  font-size: 0.8rem;
}

form ::placeholder{
  font-size: 8px;
}

.password-container{
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.password-container input{
  border: none;
  box-shadow: none;
}

.password-container img{
  height: 20px;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 20px;
}


/* Remember me */
.remember {
  gap: 8px;
}

.checkbox{
  height: 16px;
}

/* Button */
.btn-submit {
  margin-top: 25px;
  max-width: 140px;
  margin-left: 60px;
  padding: 12px 20px;
  margin-bottom: 50px;
}
}


@media (max-width: 320px){
  /* Left side */
.register-left {
  flex: 1;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.register-left h1 {
  font-size: 2rem;
}
.register-left p {
  font-size: 1rem;
  margin-bottom: 50px;
  max-width: 220px;
  text-align: center;
}
.illustration {
  max-width: 200px;
  margin-top: 20px;
}

/* Right side */
.register-right {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .password-container{
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 20px;
  gap: 0;
  justify-content: space-around;
  margin-bottom: 20px;
}
.password-container input{
  border: none;
  box-shadow: none;
  max-width: 180px;
}

.password-container img{
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}


.btn-submit {
  margin-top: 25px;
  max-width: 140px;
  margin-left: 40px;
  padding: 10px 25px;
}
}

@media (max-width: 992px) {
  .register-container {
    flex-direction: column;
  }
  .register-left, .register-right {
    flex: none;
    width: 100%;
    padding: 30px;
  }
  .illustration { max-width: 250px; }

}